.coolbox {
	--color: #151414;

	border: 3px solid var(--color);
	padding: 1rem;
	border-radius: 5px;
	background: rgb(47 47 47); /* rgb(40 40 40 / 0.5) */
	box-shadow: calc(13px * var(--x-direction, 1))
		calc(13px * var(--y-direction, 1)) 0px 0px var(--color);

	--font-family: "Segoi UI", monospace;
}

.coolbox legend {
	padding: 0 0.5rem;
	font-size: 1.75rem;
	border: 3px solid var(--color);
	border-radius: var(--border-radius, 15px);
	color: var(--text-color, hsl(141, 71%, 48%)); /* has-text-success */
	background: hsl(0, 0%, 21%);

	text-align: var(--text-align, center);
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-weight: var(--font-weight, bold);

	transition: transform 250ms;
}

.coolbox legend:hover {
	cursor: pointer;
	transform: scale(1.15);
}

.coolbox:global(.vertical-text) legend {
	font-family: "Bungee Shade", cursive;
	writing-mode: vertical-lr;
	text-orientation: upright;
	font-feature-settings: "vkrn", "vpal";

	-webkit-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	-webkit-font-feature-settings: "vkrn", "vpal";
}
