.canvas-panel {
	position: absolute;
	top: 1rem;
	z-index: 15;
	margin-left: 1rem;
	width: 25vw;
}

.canvas-panel .panel-block {
	background: hsl(0, 0%, 93%);
	filter: invert(1) opacity(0.99);
}

.canvas-panel .panel-block.panel-select {
	display: flex;
	align-items: baseline;
}

.canvas-panel .panel-block.panel-select .select {
	margin-left: auto;
}

.canvas-panel .panel-heading {
	transition: border-radius 0.5s ease-out;
}

.canvas-panel .panel-heading:not(.canvas-panel-active) {
	border-radius: 6px !important;
}
