.AvatarMenu {
	--divider-color: #05b99e;

	background: #262727;
	border-radius: 1rem;
	box-shadow: 0 0 4px 0 #151414;
	transition: border-radius 0.25s ease-in-out;
}

.AvatarMenu:hover,
.AvatarMenu:focus-within {
	border-radius: 1rem 1rem 0 0;
}

.AvatarMenu :global(.navbar-dropdown) {
	border-radius: 0;
	border-top: none;
}

.AvatarMenu :global(.navbar-dropdown) :global(.navbar-item) {
	text-align: center;
	font-weight: bolder;
}

.AvatarMenu :global(.navbar-dropdown) a {
	width: 100%;
}

.AvatarMenu .navbar-item {
	font-weight: bolder;
	width: 100%;
}

.AvatarMenu :global(.navbar-dropdown) .navbar-item:hover,
.AvatarMenu :global(.navbar-dropdown) .navbar-item:focus,
.AvatarMenu :global(.navbar-dropdown) a:hover {
	color: #3273dc !important;
	background: #292828;
}

.AvatarMenu figure.image {
	margin: 5px;
}

.AvatarMenu :global(.navbar-dropdown) {
	padding-bottom: 0;
	font-family: "Skyrim";
	font-size: 1.25rem !important;
}

.DefaultAvatar {
	display: flex;
	justify-content: center;
	align-items: center;
	background: -webkit-linear-gradient(35deg, #b5cae4, #1e487b, #f94c94);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
