.Label {
	background: #363636;
	padding: 1rem;
	display: flex;
	flex-wrap: nowrap;

	border-radius: 2vmin;
	border: 2px dashed #2160c4;

	margin-bottom: 1rem;

	position: relative;
}

.Label .Input {
	appearance: none;
	border: none;
	background: transparent;
	color: inherit;
	font-size: inherit;
	width: 100%;
	font-weight: bold;
}

.Label:focus-within .Description {
	display: none;
}

.Description {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0.25rem 0.5rem;
	color: #aae237;
}
