.Wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.Figure {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.Image {
	clip-path: polygon(0% 0%, 50% 10%, 100% 30%, 100% 80%, 80% 100%, 0% 90%);
	border-radius: 100%;
}

.Image:hover {
	transition: 0.2s all;
	transform: scale(1.1);
	clip-path: polygon(0% 0%, 80% 10%, 100% 30%, 100% 80%, 25% 100%, 0% 90%);
}

.Symbol {
	text-shadow: 2px 2px 1px #3e2e72;
}

.DefaultAvatar {
	display: flex;
	justify-content: center;
	align-items: center;
	background: -webkit-linear-gradient(35deg, #b5cae4, #1e487b, #f94c94);
	font-size: xxx-large;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
