.MapPreviewCard {
	border-radius: 0.75rem;
	/* border: 3px outset #00947e; */
}

.MapPreviewCard:hover {
	box-shadow: 3px 4px 6px 1px #272727;
}

.MapPreviewCard a,
.MapPreviewCard button {
	color: #fff;
}

.MapPreviewCard .config {
	padding: 1rem;
	border-radius: 0.25rem;
	background-color: #3e3e3e;
}

.MapPreviewCard .card-footer {
	border: none;
}

.MapPreviewCard .card-footer-item {
	border: none;
}

.MapPreviewCard .card-footer .button {
	border-radius: 0;
}

.MapPreviewCard .like-button {
	background: transparent;
	border: none;
	font-size: 2rem;
}

.MapPreviewCard .like-button:hover {
	cursor: pointer;
}

.MapPreviewCard .like-button:focus,
.MapPreviewCard .like-button:focus-within {
	outline: 2px dashed indianred;
	/* border-radius: .25rem; */
	/* outline: none; */
}
