.MapPreviewCard {
	--x-direction: 0;
	--y-direction: 0;

	transition: all 3s ease-out;
}

.MapPreviewCard:hover {
	--x-direction: unset;
	--y-direction: unset;
}

.MapPreviewCard .image {
	border-bottom: 3px solid #151414;
}

.MapPreviewCard fieldset {
	padding: 0;
}

.MapPreviewCard .mapContent {
	padding: 1rem;
}

.MapPreviewCard .summary p {
	margin: 0;
}

.MapPreviewCard .activitySummary {
	width: 100% !important;
	background: #262626;
	display: inline-grid;
	grid-auto-flow: column;
	padding: 0.5rem 1rem;
}

.MapPreviewCard .activitySummary .icon {
	width: 100%;
	display: grid;
	grid-auto-flow: column;
	column-gap: 0.3rem;
}

.MapPreviewCard a,
.MapPreviewCard button {
	color: #fff;
}

.masonry-grid {
	display: flex;
	margin-left: -30px;
	width: auto;
}

.masonry-grid_column {
	padding-left: 30px;
	background-clip: padding-box;
}

.masonry-grid_column > article {
	background: transparent;
	margin-bottom: 30px;
}
