.Container {
	width: 100%;
	display: flex;
	flex-flow: column;
	align-content: center;
}

.Config {
	padding: 1rem;
	border-radius: 0.25rem;
	background-color: #3e3e3e !important;
}

.Container :global(.masonry-grid) {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.Container :global(.masonry-grid_column) {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
