.MainNavbar {
	background-color: #2f2f2f !important;
	z-index: 9999;
	font-family: "Skyrim";
	font-size: 1.25rem;
}

.MainNavbar :global(.navbar-burger) {
	height: auto;
	width: 4.25rem;
}

.MainNavbar :global(.brand) {
	background: -webkit-linear-gradient(#ffee28, #da4c22, #9a0101);
	filter: drop-shadow(2px 4px 6px #840707);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.MainNavbar :global(.brand) i {
	font-size: 2rem;
}

.MainNavbar :global(.link) {
	color: #fff;
}

.MainNavbar :global(.link):hover {
	color: #ffe740;
	background-color: #292929;
}

.MainNavbar .ActiveLink {
	color: springgreen !important;
	background-color: #262626 !important;
}

.MainNavbar .ActiveLink,
.MainNavbar :global(.link):hover {
	box-shadow: inset 0px 4px currentColor;
}
