:global(html) {
	overflow: initial;
}

/* ------ split into separate component -------- */

.pageNav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
}

.pageNav :global(.tabs) {
	border-bottom: 1px solid #ffffff;
}

@media (max-width: 800px) {
	.pageNav {
		flex-flow: column;
		align-items: flex-start;
	}

	.pageNav :global(.tabs) {
		width: 100%;
	}
}

/* --------------------------------------------- */

.screenshots section {
	padding-top: 1rem;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 1rem;
}
