.AuthFormWrapper {
	display: flex;
	justify-content: center !important;
	align-items: center;
}

.AuthForm {
	margin: 2rem;
	padding: 2rem;
	box-shadow: 0px 0px 5px #252323;
	border-radius: 1rem;
	width: 50%;
}

@media (max-width: 650px) {
	.AuthForm {
		min-width: 90%;
	}
}

.Label,
.Title {
	color: #ffffff;
}

.LabelWithHelp {
	display: flex;
	justify-content: space-between;
}

.Divider {
	background: linear-gradient(50deg, #9a479c, #e05e20, #2040e0);
}

.AuthFormTitle {
	background: -webkit-linear-gradient(#71aedc, #5bb17e);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 6px;
}

.Input {
	background: hsl(0 0% 0% / 0.15);
	color: whitesmoke;
	border: 0;
	border-bottom: 1px dashed hsl(335deg 44% 54%);
	border-radius: 0.25rem;
}

.Input:hover {
	border-bottom-color: hsl(247deg 34% 34%);
}

.Input:invalid {
	border: 1px solid orangered;
}

.Input::placeholder {
	color: hsl(0, 14%, 88%);
}

.Input:-webkit-autofill {
	transition-delay: 3600s;
}
