.AuthForm {
	margin: 2vmax;
	padding: 2rem;
	box-shadow: 0px 0px 5px #252323;
	border-radius: 1rem;
}

.AuthForm .Label,
.AuthForm .Title {
	color: #ffffff;
}

.AuthForm .Divider {
	background: linear-gradient(50deg, #9a479c, #e05e20, #2040e0);
}

.AuthForm .AuthFormTitle {
	background: -webkit-linear-gradient(#71aedc, #5bb17e);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 6px;
}

.AuthForm .Input {
	background: hsl(0 0% 0% / 0.15);
	color: whitesmoke;
	border: 0;
	border-bottom: 1px dashed hsl(335deg 44% 54%);
	border-radius: 0.25rem;
}

.AuthForm .Input:hover {
	border-bottom-color: hsl(247deg 34% 34%);
}

.AuthForm .Input:invalid {
	border: 1px solid orangered;
}

.AuthForm .Input::placeholder {
	color: hsl(0, 14%, 88%);
}

.AuthForm .Input:-webkit-autofill {
	transition-delay: 3600s;
}
