.AvatarMenu {
	--divider-color: #05b99e;

	background: #262727;
	border-radius: 1rem;
	padding: 1rem;
	transition: border-radius 0.2s ease-in-out;
}

.AvatarMenu:hover,
.AvatarMenu:focus-within {
	border-radius: 1rem 1rem 0 0;
}

.AvatarMenu .navbar-dropdown {
	border: 4px solid #151414;
	border-radius: 0;
}

.AvatarMenu .navbar-dropdown .navbar-item {
	text-align: center;
	font-weight: bolder;
}

.AvatarMenu a {
	font-weight: bolder;
	width: 100%;
	padding: 0.5rem 0.25rem;
}

.AvatarMenu a:hover,
.AvatarMenu a:focus {
	color: #3273dc;
	background: #292828;
}

.AvatarMenu figure.image {
	margin: 5px;
}

.AvatarMenu .navbar-dropdown {
	padding-bottom: 0;
	font-family: "Skyrim";
	font-size: 1.25rem !important;
}

.DefaultAvatar {
	display: flex;
	justify-content: center;
	align-items: center;
	background: -webkit-linear-gradient(35deg, #b5cae4, #1e487b, #f94c94);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
