.AvatarMenu {
	--divider-color: #05b99e;

	background: #262727;
	border-radius: 1rem;
	padding: 1rem;
	transition: border-radius 0.2s ease-in-out;
}

.AvatarMenu:hover,
.AvatarMenu:focus-within {
	border-radius: 1rem 1rem 0 0;
}

.AvatarMenu a {
	text-align: center;
	font-weight: bolder;
	padding: 0.5rem 0.25rem;
	width: 100%;
}

.AvatarMenu a:hover,
.AvatarMenu a:focus {
	color: #3273dc;
	text-decoration: underline;
	background: #292828;
	border-radius: 0.5rem;
}

.AvatarMenu figure.image {
	margin: 5px;
}

.AvatarMenu .username {
	font-weight: bold;
	color: #0deccb !important;
	text-shadow: 2px 2px 1px #99469a;
	border-bottom: 3px double hsl(269deg 64% 51% / 80%);
}

.AvatarMenu .navbar-dropdown {
	padding-bottom: 0;
	font-family: "Skyrim";
	font-size: 1.25rem !important;
	border-top-color: var(--divider-color) !important;
}

.AvatarMenu .navbar-dropdown .navbar-item {
	padding: 0;
}

.AvatarMenu hr {
	background-color: var(--divider-color);
}

.DefaultAvatar {
	display: flex;
	justify-content: center;
	align-items: center;
	background: -webkit-linear-gradient(35deg, #b5cae4, #1e487b, #f94c94);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
