.MainNavbar {
	background-color: #2f2f2f !important;
	z-index: 9999;
	font-family: "Skyrim";
	font-size: 1.25rem;
}

.MainNavbar .ActiveLink {
	color: springgreen !important;
}

.MainNavbar .link {
	color: #fff;
}

.MainNavbar .link:hover,
.MainNavbar .ActiveLink {
	background: #444444;
}

.MainNavbar .link:hover {
	color: #ffe740;
}

.MainNavbar .navbar-burger {
	color: #e4e4e4;
}
