.MainNavbar {
	background-color: #2f2f2f !important;
	z-index: 9999;
	font-family: "Skyrim";
	font-size: 1.25rem;
}

.MainNavbar .brand {
	background: -webkit-linear-gradient(#ffee28, #da4c22, #9a0101);
	filter: drop-shadow(2px 4px 6px #840707);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.MainNavbar .brand i {
	font-size: 2rem;
}

.MainNavbar .link {
	color: #fff;
}

.MainNavbar .link:hover {
	color: #ffe740;
	background-color: #292929;
}

.MainNavbar .ActiveLink {
	color: springgreen !important;
	background-color: #262626 !important;
}

.MainNavbar .ActiveLink,
.MainNavbar .link:hover {
	box-shadow: inset 0px 4px currentColor;
}
