.label,
.title {
	color: #ffffff;
}

.labelWithHelp {
	display: flex;
	justify-content: space-between;
}

.input {
	--regular-border-color: hsl(335deg 44% 54%);
	--invalied-border-color: orangered;
	--hover-border-color: hsl(247deg 34% 34%);

	position: relative;
	background: hsl(0deg 0% 16%);
	color: whitesmoke;
	border: 0;
	border-bottom: 1px dashed var(--regular-border-color);
	border-radius: 0.25rem;
}

.input:hover {
	border-bottom-color: var(--hover-border-color);
}

.input:invalid {
	border: 1px solid var(--invalied-border-color);
}

.input:disabled {
	background: hsl(0 0% 0% / 0.15);
}

.input::placeholder {
	color: gainsboro;
}

.input:-webkit-autofill {
	transition-delay: 3600s;
}

.passwordToggle {
	position: absolute;
	right: 0;
	top: 0;
	background: hsl(0deg 0% 16%);
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 1.25rem;
	border: 2px solid hsl(0deg 0% 25%);
	color: #3298dc;
	font-size: 1rem;
	font-weight: bold;
}

.passwordToggle:hover {
	cursor: pointer;
	background: hsl(0 0% 10%) !important;
	transition: background 100ms;
}
