@font-face {
	font-family: "Skyrim";
	src: local("Aetherius"), url(./fonts/Aetherius.ttf) format("truetype");
}

#canvas-wrapper {
	background-color: hsla(271, 12%, 61%, 0.363);
	width: 100% !important;
}

canvas {
	position: absolute;
	display: block;
	background-color: hsla(271, 12%, 61%, 0.363);
	width: 100%;
	height: 100%;
}

canvas:focus {
	outline: none;
}

html {
	--scrollbar-color: rgb(31 29 29);
	--scrollbar-bg-color: rgb(54 54 54);
	--scrollbar-line-size: 0.5rem;
}

body {
	overflow: auto;
}

html,
.scrollbar {
	scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg-color);
	scrollbar-width: thin;
}

html::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
	width: var(--scrollbar-line-size);
	height: var(--scrollbar-line-size);
}

html::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
	background-color: var(--scrollbar-bg-color);
}

html::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background-color: var(--scrollbar-color);
}
