html,
body {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

#canvas-wrapper {
	background-color: hsla(271, 12%, 61%, 0.363);
	width: 100% !important;
}
/*
canvas {
	position: absolute;
	display: block;
	background-color: hsla(271, 12%, 61%, 0.363);
	width: 100%;
	height: 100%;
}

canvas:focus {
	outline: none;
}
*/
